body{
    margin: 5rem 10rem;
   
    background:url("1.jpeg"),linear-gradient(rgba(0, 0, 0, 0.11),rgba(0, 0, 0, 0.192));
    opacity: 1;
    z-index:100;
    

}
.container{
    margin-top: 3rem;
    border: 4px dotted gray;
    box-shadow: (5px 5px 20px 10px rgba(0, 0, 0, 0.425));
}
h1{
    color: rgb(14, 31, 14);
    display: grid;
    justify-items: center;
    border-bottom: 3px double gray;
    padding-bottom: 1rem;
    font-size: 3rem;
    /* border-bottom-width: 50%; */
    /* align-items: center; */
}
p{
    color: rgb(107, 28, 28);
    font-size: 2rem;
    padding: 2rem;
}
.but{
    /* margin-bottom: 1rem; */
    /* margin-left: 30rem; */
    margin-right: 1rem;
}