/* p{
    font-size: 30px;

    /* 1 inch == 96px */
    /* font-size: 1in; */

    /* 1 inch == 2.54cm */
    /* font-size: 3cm; */

    /* 1px == .75
    16px == .75*16 = 12pt */
    /* font-size: 12pt;
    border: 12pt solid black; 
} */
/* div{
    border: 2px solid black;
    font-size: 10px;
    width: 50%;
}
p{
    border: 1px solid black;
    width: 50%;
   font-size: 200%; 
   margin: 2px auto;
   text-align: center;

} */
/* html{
    font-size: 10px;
    font-size: 62.5%;
    /* 16px == 100%
    10 == 100/16*10 */
/* }
p{
    font-size: 2rem;
    border: 1rem solid black;
}  */

p{
    font-size: 2em;
}