h1{
    border: 3px solid black;
    /* padding-left: 40px;
    padding-top: 90px;
    padding-bottom: 40px;
    padding-right: 70px; */
    /* padding:40px; */
    padding: 50px 40px;
    margin-left: 34px;
    width: 200px;
    margin: 30px auto;
    text-align: center;
    background: cornflowerblue;
}