li{
    display: inline-block;
    border-bottom: 2px solid white;
    /* margin: 10px; */
    padding: 10px;
    color:white;
}
nav{
    border: 2px solid white;
    text-align: center;
    background-color: gray;
    /* color:white */
    width: 1000px;
    margin: 0 auto;
    text-transform: uppercase;
}
a{
    text-align: center;
    color: white;
    list-style: none;
    text-decoration: none;

}
h1{
    border-bottom: 2px solid black;
}
.blog1{
    /* border: 2px solid black; */
    margin:10px auto;
    width:1000px;
    /* padding: 10px; */
}
section{
    /* border: 2px solid black; */
    margin: 5px;
    padding: 10px;
    /* margin:10px auto; */
}