.header{
    background: #262163;
    color: #FFFEFF;
    padding: 1rem;
    border-radius: 15px;
    margin: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.new-emp-info{
    margin: 2rem;
}
.user-img{
    margin-top: 1rem;
    height: 80px;
    width: 80px;
}
.new-user-info{
    color: #262163;
}
.new-emp-info-name{
    font-size: 1.5rem;
    font-weight: 600;
}
.new-emp{
    padding-left: 1rem;
}
.new-emp-date{
    padding-left: 1.5rem;
}
.scorll{
    height: 500px;
    overflow: auto;
}