.header{
    background: #262163;
    color: #FFFEFF;
    padding: 1rem;
    border-radius: 15px;
    margin: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.main-slider{
    width: 400px;
}

.brithday-inner{
    margin-left: 1rem;
    width: 370px;
}
.brithday-img{
 width: 100%;   
}
.brithday-text{
  /* border :2px solid black; */
  display: block;
  background: rgb(206, 204, 204);
  color:rgb(14, 9, 61);
  font-size: 20px;
  text-align:center;
  justify-content: center;
  padding-top: 0px;
 height: 70px;
  margin: 0px 0px 0px 0px;
  opacity: 0.5;
  width: 100%;
}


