<div class="container">
  <form action="" [formGroup]="regForm"  (ngSubmit) = "onFormSubmit(regForm.value)">
    <table>
      <tr>
        <td>
          <mat-form-field class="demo-Full-width">
            <input formControlName="fname" mutInput placeholder="Enter your frist Name">
          </mat-form-field>
          <mat-error>
            <span *ngIf="!regForm.get('fname')?.valid && regForm.get('fname')?.touched">Places enter your frist name</span>
          </mat-error>
        </td>
        <td>
          <mat-form-field class="demo-Full-width">
            <input formControlName="lname" mutInput placeholder="Enter your Last Name">
          </mat-form-field>
          <mat-error>
            <span *ngIf="!regForm.get('lname')?.valid&&regForm.get('lname')?.touched">Places enter your last name</span>
          </mat-error>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field class="demo-Full-width">
            <textarea formControlName="Address" mutInput placeholder="Enter your Address"></textarea>
          </mat-form-field>
          <mat-error>
            <span *ngIf="!regForm.get('Address')?.valid &&regForm.get('Address')?.touched">Places enter your Address
              name</span>
          </mat-error>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field class="demo-Full-width">
            <input formControlName="DOB" mutInput [matDatepicker]="picker" placeholder="Enter your Brith date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" #picker></mat-datepicker>
          </mat-form-field>
          <mat-error>
            <span *ngIf="!regForm.get('DOB')?.valid&&regForm.get('DOB')?.touched">Places select youre brithdate</span>
          </mat-error>
        </td>
      </tr>
      <tr>
        <td>
          <span>Gender:</span><br><br>
          <mat-radio-group formControlName="gender" >
            <mat-radio-button value="male">male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
          <mat-error>
            <span *ngIf="!regForm.get('gender')?.valid&&regForm.get('gender')?.touched">Places select your gender</span>
          </mat-error>
        </td>
      </tr>
      <tr>
      <td>
        <br>
        <mat-form-field>

          <mat-select formControlName="game" placeholder="Select youre Game">
            <mat-option>None</mat-option>
            <mat-option value="cricket">Cricket</mat-option>
            <mat-option value="footballe">Footbolle</mat-option>
            <mat-option value="hocky">hocky</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error>
          <span *ngIf="!regForm.get('game')?.valid&&regForm.get('game')?.touched">Places select your game</span>
        </mat-error>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <mat-form-field class="demo-Full-width">
          <input formControlName="email" mutInput placeholder="Enter your Email">
          <mat-hint>user like : abc@gmail.com</mat-hint>
        </mat-form-field>
        <mat-error>
          <span *ngIf="!regForm.get('email')?.valid&&regForm.get('email')?.touched">Places enter your EmailId</span>
        </mat-error>
      </td>
    </tr>
    <tr>
      <td colspan="2" >
        <mat-slide-toggle formControlName="IsAccepted" (change)="onChange($event)">Accecpt Terems and condtion </mat-slide-toggle>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="content-center">
        <button mat-raised-button color="accent" [disabled]="!regForm.valid || IsAccepted==0">Accent</button>
      </td>
    </tr>
    <tr>
      <td></td>
    </tr>

    </table>
  </form>
</div>




